body {
    background-image: url("https://s2.loli.net/2022/05/25/eqgS3JWUHd8E7Yf.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 1800px;
    /*height: 2000px;*/
    position: relative;
    /*display:flex;*/
    justify-content: center;
}

.el-header, .el-footer {
    /*background-color: #B3C0D1;*/
    /*color: #333;*/
    text-align: center;
    line-height: 50px;
}

.el-aside {
    /*background-color: #D3DCE6;*/
    /*color: #000000;*/

    text-align: center;
    line-height: 200px;
}

.el-main {

    background-color: rgba(255, 255, 255, 0.4);

    position: relative;
    /*position: fixed;*/
    width: 60%;
    height: 500px;
    box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
    display: flex;
    border-radius: 50px;
    align-items: center;
    top: 30%;
    backdrop-filter: blur(50px);
}

body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

/**/
