body {
    background-image: url("https://s2.loli.net/2022/05/25/rsez4cl2Hb3IXqD.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 1800px;
    /*height: 2000px;*/
    position: relative;
    /*display:flex;*/
    justify-content: center;
}
.el-header, .el-footer {
    /*background-color: #B3C0D1;*/
    /*color: #333;*/
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    box-shadow: 1px 1px 15px rgba(20, 20, 20, 0.1);
    /*background-color: #D3DCE6;*/
    /*color: #333;*/
    /*text-align: center;*/
    /*line-height: 200px;*/
}

.el-main {
    /*background-color: #E9EEF3;*/
    color: #333;
    text-align: center;
    line-height: 160px;
}

body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}


.el-row {
    /*margin-bottom: 20px;*/
}
.last-child {
     margin-bottom: 0;
}
.el-col {
    /*border-radius: 4px;*/
}
.bg-purple-dark {
    /*background: #99a9bf;*/
}
.bg-purple {
    /*background: #d3dce6;*/
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    box-shadow: 1px 1px 15px rgba(20, 20, 20, 0.1);
    /*左对齐*/
    /*text-align: left;*/
}
.bg-purple-light {
    /*background: #e5e9f2;*/
}
.grid-content {
    border-radius: 15px;
    min-height: 30px;
}
.row-bg {
    padding: 10px 0;
    /*background-color: #f9fafc;*/
}